/********************************************** NAVBAR **********************************************/


section.content {
  padding: 2.5rem;
  position: relative;
}

section.content #ic_big_paw {
  position: absolute;
  background-color: var(--ic-big-paw-color);
  opacity: 0.54;
  z-index: -9999;
}

section.content #ic_big_paw:nth-child(1) {
  transform: rotate(129.11deg);
  top: 15%;
  left: 0;
}

section.content #ic_big_paw:nth-child(2) {
  transform: rotate(-54.6deg);
  right: -3.5%;
  bottom: 12%;
}

section.content .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section.content .title #ic_paw {
  width: 2rem;
  height: 1.5rem;
  background-color: var(--font-or-btn-color);
}

section.content .title #ic_paw:first-child {
  transform: rotate(-90deg);
}

section.content .title #ic_paw:last-child {
  transform: rotate(90deg);
}

section.content .title span,
.title h2 {
  display: inline-block;
  color: var(--primary-color);
}

@media screen and (max-width: 340px) {
  section.content .title span,
  .title h2 {
    font-size: 1.25rem;
  }
}

section.content .search-field {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
}

section.content .search {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 430px;
  height: 45px;
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 99px;
  transition: 0.3s ease;
}
section.content .search:focus-within,
section.content .search:hover {
  background-color: var(--bg-color);
  transition: 0.3s ease;
}

section.content .search .filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 1rem;
  margin: 4px;
  margin-right: 10px;
  cursor: pointer;
}

section.content .search .filter .all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

section.content .search .filter #ic_down {
  background-color: var(--dropdown-ic-color);
}

section.content .search .filter.active #ic_down {
  transform: rotate(180deg);
  transition: 0.5s ease;
}

section.content .search .filter .line {
  width: 1px;
  height: 25px;
  background-color: var(--dropdown-ic-color);
}

section.content .search .input-field {
  width: 100%;
  margin-right: 0.5rem;
}

section.content .search .input-field input {
  height: 25px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-color);
}

section.content .search .input-field input::placeholder {
  color: var(--primary-color);
}

section.content .search .input_field input:not(:placeholder-shown) ~ #ic_clear {
  opacity: 1;
  transition: 0.2s ease;
}
section.content .search #ic_clear {
  opacity: 0;
  margin-right: 0.5rem;
  transition: 0.2s ease;
  cursor: pointer;
}

section.content .search #ic_search {
  cursor: pointer;
  background-color: var(--primary-color);
  margin-right: 1rem;
}

section.content .container-grid {
  position: relative;
  z-index: 99;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.25rem 0;
  justify-items: center;
}

@media screen and (max-width: 1175px) {
  section.content .container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 877px) {
  section.content .container-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  section.content.active {
    margin-top: 3rem;
    transition: all 400ms ease;
  }
}

@media screen and (max-width: 630px) {
  section.content .container-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
