a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: #fefbf6;
}

/* NAVBAR */

nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 877px) {
  section.content.active {
    margin-top: 5rem;
    transition: all 400ms ease;
  }
}

#logo {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 800;
  letter-spacing: 0.1em;
  user-select: none;
  color: #ea580c;
}

.nav-menu {
  display: flex;
  gap: 3rem;
}

.nav-menu-list {
  font-weight: 500;
}

.nav-menu-list:hover {
  color: #ea580c;
}

.nav-btn-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ea580c;
  color: #ffffff;
  border-radius: 0.375rem;
}

.nav-hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .nav-btn-group {
    display: none;
  }

  .nav-hamburger {
    display: block;
  }

  .nav-hamburger img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* END OF NAVBAR */

/* HERO */

.hero {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
  justify-content: space-between;
  align-items: center;
}

.hero img {
  max-width: 476px;
  max-height: 346px;
  width: 100%;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.375;
}

.hero-text p {
  line-height: 1.625;
}

.hero-btn-group {
  display: flex;
  gap: 2rem;
}

#hero-primary-btn {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #ea580c;
  color: #ffffff;
  font-weight: 500;
  border-radius: 0.5rem;
}

#hero-secondary-btn {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .hero {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero img {
    display: none;
  }

  .hero-text-container {
    gap: 1rem;
  }

  .hero-text {
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-btn-group {
    gap: 1rem;
    justify-content: center;
  }
}

/* END OF HERO */

/* ADOPT */

.adopt {
  display: flex;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.adopt-heading-container {
  display: flex;
  font-weight: 700;
  text-align: center;
  flex-direction: column;
}

.adopt-heading-main {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: center;
  gap: 0.5rem;
}

.adopt-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.adopt-title {
  display: flex;
  justify-content: space-between;
}

.adopt-title h1 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.adopt-card-grid {
  display: grid;
  justify-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  gap: 1rem;
}

.adopt-card {
  display: flex;
  overflow: hidden;
  padding: 0.75rem;
  background-color: #ffffff;
  flex-direction: column;
  border-radius: 0.5rem;
  gap: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.adopt-card img {
  object-fit: cover;
  border-radius: 0.5rem;
  width: 240px;
  height: 185px;
}

.adopt-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.adopt-card-content > div:nth-child(1) {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  justify-content: space-between;
}

.adopt-card-content > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.pet-name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.pet-breed {
  font-weight: 700;
  color: #c7c7c7;
}

.read-more-btn {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  width: max-content;
  border-radius: 15px;
  border: 2px solid #ea580c;
  color: #ea580c;
}

@media screen and (max-width: 768px) {
  .adopt {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .adopt-card {
    width: 100%;
  }

  .adopt-card img {
    width: 100%;
  }
}

/* END OF ADOPT */

/* OUR SUCCESS */

.success {
  display: flex;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.success-heading-container {
  display: flex;
  font-weight: 700;
  text-align: center;
  flex-direction: column;
}

.success-heading-main {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: center;
  gap: 0.5rem;
}

.success-content-container {
  display: flex;
  margin-top: 2rem;
  gap: 10rem;
}

.success-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.success-items img {
  width: 160px;
}

.success-items-details {
  text-align: center;
}

.success-items-details-num {
  color: #ea580c;
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
}

.success-items-details p {
  margin-top: 0.5rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .success {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .success-content-container {
    flex-direction: column;
    gap: 2rem;
  }

  .success-items {
    gap: 2rem;
  }

  .success-heading-container-title {
    font-size: 1rem;
    line-height: 2rem;
  }
}

/* END OF OUR SUCCESS */

/* CONTACT US */

.contact {
  display: flex;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact-heading-container {
  display: flex;
  font-weight: 700;
  text-align: center;
  flex-direction: column;
}

.contact-heading-main {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: center;
  gap: 0.5rem;
}

.contact-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.contact-content-name-email {
  display: flex;
  gap: 1rem;
}

.contact-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-control {
  width: 300px;
  height: 40px;
  padding: 0.5rem;
  border: 1px solid #c7c7c7;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}

.form-control:focus,
.form-control-phone:focus,
.form-control-message:focus {
  outline: none;
  border: 2px solid #ea580c;
}

.form-control-phone {
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  border: 1px solid #c7c7c7;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}

.form-control-message {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  border: 1px solid #c7c7c7;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  resize: none;
}

.contact-content-submit-btn {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #ea580c;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

.contact-content-submit-btn:hover {
  background-color: #ffffff;
  color: #ea580c;
  border: 2px solid #ea580c;
}

@media screen and (max-width: 768px) {
  .contact-content-name-email {
    flex-direction: column;
  }
}

/* END OF CONTACT US */
