@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis';
}

html {
  overflow-x: hidden;
}

/********************************************** COLOR **********************************************/
:root {
  --primary-color: #e3712d;
  --bg-color: #fff3e5;
  --hover-bg-menu-color: #ffe7ce;
  --font-or-btn-color: #f18f1b;
  --dropdown-ic-color: #f38543;
  --month-gender-color: #c7c7c7;
  --gene-color: #bbbbbb;

  --placeholder-color: #e99461;
  --ic-big-paw-color: #e0e0e0;

  --status-adopted-color: #fd6e6e;
  --status-available-color: #42d463;
}

/********************************************** ICON **********************************************/

#ic_hamburger {
  width: 28px;
  height: 24px;

  background-color: var(--font-or-btn-color);
  mask: url(../assets/icons/hamburger.svg) no-repeat center/contain;
  -webkit-mask: url(../assets/icons/hamburger.svg) no-repeat center/contain;
}
#ic_all {
  width: 23px;
  height: 14px;
  background-color: white;
  mask: url(../assets/icons/all.svg) no-repeat center/contain;
  -webkit-mask: url(../assets/icons/all.svg) no-repeat center/contain;
}

#ic_pet_adopt {
  width: 160px;
  height: 160px;
  background-color: black;
  mask: url(../assets/icons/pet-adopt.svg) no-repeat center/contain;
  -webkit-mask: url(../assets/icons/pet-adopt.svg) no-repeat center/contain;
}

#ic_dog_cat {
  width: 160px;
  height: 160px;
  background-color: black;
  mask: url(../assets/icons/dog-cat.svg) no-repeat center/contain;
  -webkit-mask: url(../assets/icons/dog-cat.svg) no-repeat center/contain;
}

#ic_search {
  width: 24px;
  height: 20px;
  background-color: black;
  mask: url(../assets/icons/search.svg) no-repeat center/contain;
  -webkit-mask: url(../assets/icons/search.svg) no-repeat center/contain;
}

#ic_big_paw {
  width: 197px;
  height: 171px;
  background-color: black;
  mask: url(../assets/icons/big-paw.svg) no-repeat center/contain;
  -webkit-mask: url(../assets/icons/big-paw.svg) no-repeat center/contain;
}

#ic_paw {
  width: 9px;
  height: 8px;
  background-color: black;
  mask: url(../assets/icons/paw.svg) no-repeat center/contain;
  -webkit-mask: url(../assets/icons/paw.svg) no-repeat center/contain;
}

#ic_down {
  width: 12px;
  height: 12px;
  background-color: black;
  mask: url(../assets/icons/down.svg) no-repeat center/contain;
  -webkit-mask: url(../assets/icons/down.svg) no-repeat center/contain;
}

#ic_bookmark {
  width: 12px;
  height: 18px;
  background-color: black;
  mask: url(../assets/icons/bookmark.svg) no-repeat center/contain;
  -webkit-mask: url(../assets/icons/bookmark.svg) no-repeat center/contain;
}

#ic_clear {
  width: 25px;
  height: 24px;
  background-color: var(--primary-color);
  mask: url(../assets/icons/clear.svg) no-repeat center/contain;
  -webkit-mask: url(../assets/icons/clear.svg) no-repeat center/contain;
}
.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
}

/********************************************** SECTION **********************************************/

section.content {
  padding: 2.5rem;
  position: relative;
  transition: all 400ms ease;
  transition-delay: 200ms;
}

section.content #ic_big_paw {
  position: absolute;
  background-color: var(--ic-big-paw-color);
  opacity: 0.54;
  z-index: -9999;
}

section.content #ic_big_paw:nth-child(1) {
  transform: rotate(129.11deg);
  top: 15%;
  left: 0;
}

section.content #ic_big_paw:nth-child(2) {
  transform: rotate(-54.6deg);
  right: -3.5%;
  bottom: 12%;
}

section.content .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section.content .title #ic_paw {
  width: 2rem;
  height: 1.5rem;
  background-color: var(--font-or-btn-color);
}

section.content .title #ic_paw:first-child {
  transform: rotate(-90deg);
}

section.content .title #ic_paw:last-child {
  transform: rotate(90deg);
}

section.content .title span,
.title h2 {
  display: inline-block;
  color: var(--primary-color);
}

@media screen and (max-width: 340px) {
  section.content .title span,
  .title h2 {
    font-size: 1.25rem;
  }
}

section.content .search-field {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
}

section.content .search {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 430px;
  height: 45px;
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 99px;
  transition: 0.3s ease;
}
section.content .search:focus-within,
section.content .search:hover {
  background-color: var(--bg-color);
  transition: 0.3s ease;
}

section.content .search .filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 1rem;
  margin: 4px;
  margin-right: 10px;
  cursor: pointer;
}

section.content .search .filter .all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

section.content .search .filter #ic_down {
  background-color: var(--dropdown-ic-color);
}

section.content .search .filter.active #ic_down {
  transform: rotate(180deg);
  transition: 0.5s ease;
}

section.content .search .filter .line {
  width: 1px;
  height: 25px;
  background-color: var(--dropdown-ic-color);
}

section.content .search .input-field {
  width: 100%;
  margin-right: 0.5rem;
}

section.content .search .input-field input {
  height: 25px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-color);
}

section.content .search .input-field input::placeholder {
  color: var(--primary-color);
}

section.content .search .input_field input:not(:placeholder-shown) ~ #ic_clear {
  opacity: 1;
  transition: 0.2s ease;
}
section.content .search #ic_clear {
  opacity: 0;
  margin-right: 0.5rem;
  transition: 0.2s ease;
  cursor: pointer;
}

section.content .search #ic_search {
  cursor: pointer;
  background-color: var(--primary-color);
  margin-right: 1rem;
}

section.content .container-grid {
  position: relative;
  z-index: 99;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.25rem 0;
  justify-items: center;
}

@media screen and (max-width: 1175px) {
  section.content .container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 877px) {
  section.content .container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 630px) {
  section.content .container-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
/********************************************** CARD **********************************************/

.container-grid .card {
  position: relative;
  z-index: 100;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  max-width: 262.52px;
  max-height: 340px;
  width: 100%;
  padding: 13px 11px;
  border-radius: 18px;
  background-color: white;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.09);
}

.container-grid .card .img {
  position: relative;
}

.container-grid .card .img .container-bookmark {
  position: absolute;
  top: 12px;
  right: 12px;
}

.container-grid .card .img .container-bookmark .bookmark {
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.container-grid .card .img .container-bookmark .bookmark .bg-bookmark {
  position: absolute;
  width: 32px;
  height: 32px;
  filter: blur(1px);
  -webkit-filter: blur(0.1px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.container-grid .card .img .container-bookmark #ic_bookmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.container-grid .card .img img {
  width: 100%;
  object-fit: cover;
  height: 185.52px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.container-grid .card .info_status {
  display: flex;
  justify-content: space-between;
}

.container-grid .card .info_status .info {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--month-gender-color);
}

.container-grid .card .info_status .info span:not([class='line']) {
  font-size: 0.875rem;
  font-weight: 500;
}

.container-grid .card .info_status .info .line {
  display: inline-block;
  border-radius: 0.063rem;
  width: 0.125rem;
  height: 0.875rem;
  background-color: var(--month-gender-color);
}

.container-grid .card .info_status .status {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.865rem;
}

.container-grid .card .info_status .status.adopted {
  color: var(--status-adopted-color);
}

.container-grid .card .info_status .status.available {
  color: var(--status-available-color);
}

.container-grid .card .name_gene {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-grid .card .name_gene #name {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
}

.container-grid .card .name_gene #gene::first-letter {
  text-transform: capitalize;
}

.container-grid .card .name_gene #gene {
  font-size: 1rem;
  font-weight: 600;
  color: var(--gene-color);
}

.container-grid .card .read-more button {
  padding: 0.3rem 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border-radius: 99px;
  border: 2px solid var(--font-or-btn-color);
  font-weight: 600;
  color: var(--font-or-btn-color);
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.container-grid .card .read-more button:hover {
  color: white;
  background-color: var(--font-or-btn-color);
  transition: 0.3s ease;
}
